.cph/
coin

.obsidian
DOCUMENTS/【文档包】VScode配置C语言【发布】
DOCUMENTS/程序设计
DOCUMENTS/md/.obsidian
DOCUMENTS\md\.obsidian\workspace.json

DOCUMENTS/md/.obsidian/plugins/remotely-save/main.js

CODES/

node_modules
package.json
package-lock.json