CODES/python practice/jetbra
CODES/python practice/资料包
CODES/python practice/粒粒数据分析
CODES/python practice/激活码+视频教程
DOCUMENTS/程序设计
DOCUMENTS/课件
DOCUMENTS/md/匠心精作C++从0到1入门编程-学习编程不再难资料

DOCUMENTS/【文档包】VScode配置C语言【发布】
DOCUMENTS/程序设计
DOCUMENTS/课件
DOCUMENTS/md/git & md 的简单使用教程.md
DOCUMENTS/md/knowledge.md
DOCUMENTS/md/离散.md
DOCUMENTS/md/恋爱一千天有感.md
DOCUMENTS/md/文案.md
DOCUMENTS/md/游戏大纲？.md
DOCUMENTS/md/.obsidian 

.cph/
coin

CODES/CPPPROGRAM/hello-algo-1.1.0
CODES/CPPPROGRAM/NEWCODER/.cph
CODES/CPPPROGRAM/acwing
CODES/CPPPROGRAM/atcoder
CODES/CPPPROGRAM/c++
CODES/CPPPROGRAM/cf
CODES/CPPPROGRAM/cppluogu
CODES/CPPPROGRAM/lanqiao
CODES/CPPPROGRAM/LEETCODE
CODES/CPPPROGRAM/NEWCODER
CODES/CPPPROGRAM/fornt end practice

node_modules
package.json
package-lock.json

CODES/java
CODES/python practice
